/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 3px;
    margin-top: 5px;
    width: 100px;
}