<div style="text-align:center">
  <form [formGroup]="yelpForm" (ngSubmit)="onSearchSubmit($event)">
    <p>Price Point
    <select formControlName="price">
      <option value="1">$</option>
      <option value="2">$$</option>
      <option value="3">$$$</option>
      <option value="4">$$$$</option>
    </select></p>
    <label>Location:</label>
    <input formControlName="location" type="search"><br />
    <button type="submit">Get Yelping</button>
  </form>
  <div *ngIf="searchResults">
    <ul *ngFor="let result of searchResults.businesses">
      <!-- <li> {{ result | json }}</li> -->
      <li><a href="{{result.url}}" target="_blank">{{ result.name }}</a></li>
      <li><img style="width:150px" src={{result.image_url}} /></li>
      <li>{{ result.rating }} stars</li>
      <li>{{ result.display_phone }}</li>
      <li>{{ result.location.address1 }}, {{ result.location.city }}, {{ result.location.state }}</li>
      <!-- <li>{{ result.transactions[0] }}</li> -->
    </ul>
  </div>
</div>